// making media quiries easy and consistant throughout the app
// $ declare variable inside this SASS
// screen sizes and color theme
$sm :640px;
$md : 768px;
$lg : 1024px;
$xl: 1280px;
$xxl: 1536px;
$primary: #dde3ea;
$secondary: rgb(61, 103, 148);

// $secondary-white: #b39a29;
$secondary-white: #a7aeb6;